# Defaults for mailcatcher initscript
# sourced by /etc/init.d/mailcatcher
# installed at /etc/default/mailcatcher by the maintainer scripts

# Additional options that are passed to the Daemon.
DAEMON_OPTS="--ip 0.0.0.0 --http-port 1080 --smtp-port 1025"
