[Desktop Entry]
Name=HeidiSQL
Comment=HeidiSQL on Ubuntu
Exec=wine "C:\\Program Files\\HeidiSQL\\heidisql.exe"
Icon=heidisql_exe.png
Path=/home/{{ ansible_env.USER }}/.wine/drive_c/Program Files/HeidiSQL
Terminal=false
Type=Application
Categories=Wine;
StartupNotify=false
StartupWMClass=heidisql.exe
